div {
  width: 200px;
  height: 200px;
  color: whitesmoke;

  margin: 10px;
}
.transition {
  background: blue;
  transition: all 1.2s ease-in-out;
}
.transition:hover {
  background: green;
  transform: translate(100px);
}

.animation {
  background: blue;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes move {
  50%{
    transform: translateX(100px);
    background: red;
  }
  100%{
    transform: translateX(-100px);
    background: yellow;
  }

}
/* 10 36 */