.fa-home {
  color: green;
  font-size: 4rem;
}
.social-icon {
  font-size: 4rem;
  color: blue;
}
h1 {
  color: blue;
  text-shadow: 3px 3px 2px pink;
}
.box {
  width: 200px;
  height: 100px;
  background: blue;
  margin: 20px;
  box-shadow: 3px 3px 2px gray;
  animation: move 4s infinite;
}
.box:hover {
  transform: translateX(100px);
}

@keyframes move {
  50% {
    transform: translate(100px);
  }
  100% {
    transform: translate(0px);
  }
}

/* 11 14 */