div {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.one {
  background: red;
  /* transform: translateX(50%); */
}
.two {
  background: green;
}
.three {
  background: blue;
  transform: translateX(50%);
}
/* 9 57 */
