div {
  width: 200px;
  height: 200px;
  display: inline-block;
}
div:hover {
  background: chocolate;
}
.one {
  background: red;
}
.two {
  background: green;
}
.three {
  background: blue;
  transition-property: background, border-radius;
  transition-duration: 4s, 2s;
}
.three:hover {
  border-radius: 50%;
}
/* 10 11 */
