#title{
    color: blue;
    background-color: cyan;
}
#ending{
    color: aquamarine;
    background-color: aliceblue;
}
p{
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 4 08 */