body {
  background: yellow;
}
.banner {
  background: blue;
}
h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 40px;
}

@media screen and (min-width: 576px) {
  body {
    background: red;
  }
  .banner {
    background: yellow;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
}
